
body {
	background-color: rgb(225, 192, 119);
}

hr {
	border-color: #adbfce;
}

.float-left {
	float: left;
}
.float-right {
	/*float: right;*/
	padding: 15px;
}
.top-divider {
	clear:	both;
}

.right-divider {
	border-right: #adbfce;
}


/* NODE IMAGE */

img#node_image_preview, div.node-image-div {
  width:  96px;
  height: 96px;
}

div.node-image-div {
	position: relative;
    cursor: pointer;
    no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

div.node-image-text {
    background-color: #adbfce;
    position: 		  absolute;
    bottom: 		  0px;
    width: 			  100%;
    overflow: 		  none;
    display: 		  none;
    filter: alpha(opacity=60);
	opacity: 0.6;
}

div.node-image-text:hover {
    background-color: #adbfce !important;
    filter: alpha(opacity=100);
	opacity: 1;
}

div.node-image-div:hover div.node-image-text {
    display: block;
}



.panel {
	margin-top:    8px !important;
	margin-bottom: 8px !important;
	border-radius: 10px;
}

.right-aligned {
	text-align: right;
	vertical-align: middle;
	display: table-cell;
}



.block:before {
  content: '';
  display: inline-block;
  height: 100%; 
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
    
  /* For visualization 
  background: #808080; width: 5px;
  */
 }
 
.centered {
  display: inline-block;
  vertical-align: middle;
  padding: 10px 15px;
 }

.center { 
	float: none; 
	margin-left: auto; 
	margin-right: auto; 
}

.centered_div {
  position: fixed;
  top: 40%;
  left: 40%;
  margin-top: -50px;
  margin-left: -100px;
  z-index: 10000;
}

#add_image_div {

}



/* ICONS */
i[class*="foundicon-"] {
	-webkit-transition: color .5s;
	-moz-transition: color .5s;
	-o-transition: color .5s;
	transition: color .5s;
}

i.foundicon-up-arrow, i.foundicon-down-arrow {
	font-size:30px;
}

i.foundicon-up-arrow:hover {
	color: green;
	cursor: pointer;
}


i.foundicon-down-arrow:hover, i.foundicon-remove:hover {
	color: #980000;
	cursor: pointer;
}

.green {
	color: green !important;
}

.red {
	color: #980000!important;
}